@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply m-0 p-0 box-border;
        border-collapse: collapse;
    }
    body {
        @apply font-jakarta bg-cover bg-center;
        background-image: url("/public/images/gradient.webp");
    }

    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer components {
    .a-nav {
        @apply text-black px-[15px] py-[6px] rounded-[20px] font-medium hover:bg-[#359381] hover:duration-500 hover:text-white active:bg-[#359381] active:text-white;
        text-decoration: none;
        margin: 0 10px;
    }

    .card {
        will-change: transform;
    }

    .hamburger-line {
        @apply w-[30px] h-[2px] my-2 block bg-[#359381] transition-all duration-300;
    }

    .hamburger-active > span:nth-child(1) {
        @apply rotate-45;
    }

    .hamburger-active > span:nth-child(3) {
        @apply -rotate-45;
    }

    .hamburger-active > span:nth-child(2) {
        @apply scale-0;
    }

    .img-parallax {
        @apply absolute top-0 left-0 w-full pointer-events-none max-w-full h-full object-cover;
    }

    .p-section2 {
        font-size: 1em;
        color: white;
        font-weight: 300;
    }

    .bg-hero {
        @apply bg-cover bg-center;
        background-image: url("/public/images/bg-hero.webp");
    }

    .bg-about {
        @apply bg-cover bg-center;
        background-image: url("/public/images/bg-about.webp");
    }

    .fade {
        mask-image: linear-gradient(
            to right,
            transparent,
            black 20%,
            black 80%,
            transparent
        );
        -webkit-mask-image: linear-gradient(
            to right,
            transparent,
            black 20%,
            black 80%,
            transparent
        );
    }

    .animate-scroll {
        animation: scroll 20s linear infinite;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(5px);
        }
    }
    .animate-bounce {
        animation: bounce 1.5s infinite;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer utilities {
    @media (max-width: 1024px) {
        .bg-hero1 {
            @apply bg-cover bg-center;
            background-image: url("/public/images/bg-hero1.webp");
        }
    }
}
