@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply m-0 p-0 box-border;
        border-collapse: collapse;
    }
    body {
        @apply font-jakarta bg-cover bg-center;
        background-image: url("/public/images/gradient.webp");
    }

    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer components {
    .a-nav {
        @apply text-black px-[15px] py-[6px] rounded-[20px] font-medium hover:bg-[#359381] hover:duration-500 hover:text-white active:bg-[#359381] active:text-white;
        text-decoration: none;
        margin: 0 10px;
    }

    .bg-hero-services {
        @apply bg-cover bg-center;
        background-image: url("/public/images/gradient.webp");
    }

    .img-parallax {
        @apply absolute top-0 left-0 w-full pointer-events-none;
    }

    .p-section2 {
        font-size: 1em;
        color: white;
        font-weight: 300;
    }

    .bg-hero {
        @apply bg-cover bg-center;
        background-image: url("/public/images/bg-hero.webp");
    }

    .fade {
        mask-image: linear-gradient(
            to right,
            transparent,
            black 20%,
            black 80%,
            transparent
        );
        -webkit-mask-image: linear-gradient(
            to right,
            transparent,
            black 20%,
            black 80%,
            transparent
        );
    }

    .animate-scroll {
        animation: scroll 20s linear infinite;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}
